* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    margin-bottom: 0 !important;
}
.containerDiv {
    padding: 0 10px;
}

.card {
    width: 200px;
}

.card img {
    height: 250px;
}

.card p {
    word-break: break-all;
}

.titleDiv {
    height: 80px;
    margin-bottom: 10px;
}

.descDiv {
    height: 150px;
}

.nav-item a {
    cursor: pointer;
}

.navbar-collapse {
    justify-content: space-between;
}

.nav-link, .nav-link.active .nav-link{
    position: relative;
}

#line::before,
.nav-link.active::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 3px;
    background-color: #4B1EB1;
    transition: width 0.9s ease;
}

.nav-item:hover #line::before,
.nav-link.active::before {
    width: 80%;
}

.nav-item:hover a, .nav-link.active {
    color: #4B1EB1 !important;
}

.cartDiv li {
    border-top: .1px solid #c2bfbf;
    border-radius: 5px;
    box-shadow: 0px 5px 5px 0px #787878;
}

.cartDiv button {
    border: none;
    background: transparent;
}

.cartDiv button:not([disabled]):hover {
    color: #4B1EB1 !important;
}

#cartNo {
    margin-bottom: 0;
    position: absolute;
    top: -15px;
    right: -8px;
    border-radius: 50%;
    background-color: #18C8A8;
    color: white;
    padding: 2px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bolder;
}

.cartDiv {
    padding-right: 20px;
}

#cartNo {
    display: none;
}

.navDiv {
    position: sticky;
    top: 0;
    z-index: 100;
}

.cartProductImgDiv img {
    width: 30px;
}

.cartList {
    list-style-type: none;
    padding-left: 0;
}

.cartProductList {
    display: flex;
    gap: 10px;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.cartProductTitle p {
    margin-bottom: 0;
    word-break: break-all;
}

.cartProductDetailDiv {
    display: flex;
    gap: 10px;
    align-items: center;
}

.cartPriceDiv {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.cartProductPrice {
    display: flex;
    gap: 10px;
    flex-wrap: nowrap;
}

#xMark i:hover{
    cursor: pointer;
    color: #d02c2c !important;
    transform: scale(1.2);
}